
/*************header*************/
body{
    font-family: 'PT Sans',sans-serif;
  margin: 0;
  padding: 0;
   
}
/* .container{
    margin:auto;
} */
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: cadetblue;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav li a{
    color: #fff;
    text-decoration: none;
}
.nav li a:hover{
    font-weight: bold;
}
.nav li{
    list-style: none;
    padding: 16px 0;
}
.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,rgb(46, 95, 97),cadetblue);
    border-radius: 50%;
    transition: 0.3s ease;
}
#menu-bar{
    z-index: 2; 
}
.change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-60%,-30%);
}
.change .bar{
    background-color: white;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.change{
    display: block;
}
.text-primary{
    color:cadetblue;
    font-family: Open Sans;
}
.text-center{
    text-align: center;
}
.l-heading{
    font-size: 3rem;
    text-transform: uppercase;
}
.py-1{
    padding: 1.5rem 0;
}
.l-heading{
    font-size: 3rem;
    text-transform: uppercase;
}
#clorecase{
    background:url(/img/packgroud.jpg) ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    color: papayawhip;
}
#clorecase .colorcase-contanet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 100%;
    padding: 1rem;
}
.logo {
    position: absolute;
    left: 1000px;
    top:30px;
    

}
.logo img{
  position: absolute;
  top: -35px;
  left: 154px;
 
  height: 129px;
}




/*************main*************/


.Vision{
    width: 40%;
    float: right;
    width: 40%;
    position: absolute;
    right: 35px;
    top: 850px;
    font-size:20px;
    text-align: center;
    line-height: 1.6;
    font-family: cursive;
}

.Visionh3{
  text-shadow: 4px 4px 5px cadetblue;
}
.main{
    width: 40%;

}

#slider{
    background: url(../img/download.jpg) no-repeat 50% 0;
    /* background-color: lightgray; */
    position: relative;
    z-index: 12;
    background-size: cover;
    padding: 47px 0;
    height: 427px;
}

/**slider **/
.slideshow{
    margin: 0 auto;
    padding-top: 20px;
    height: 400px;
    padding-left: 465px;
    perspective: 1500px;
  }
  .content{
    margin: auto;
    width: 150px;
    perspective: 1500px;
    position:relative;
    padding-top: 80px;
    transform-style: preserve-3d;
  }
  .slider-content{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
  }
  .slider-content:hover{
    cursor: pointer;
    animation-play-state: paused;
  }
  
  .slider-content figure{
    width:180px;
    height:120px;
    border:1px solid #555;
    overflow:hidden;
    position:absolute;
    
  }
  .slider-content figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
  }
  .slider-content figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
  }
  .slider-content figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
  }
  .slider-content figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
  }
  .slider-content figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
  }
  .slider-content figure:nth-child(7){
    transform:rotateY(240deg) translateZ(300px);
  }
  .slider-content figure:nth-child(8){
    transform:rotateY(280deg) translateZ(300px);
  }
  .slider-content figure:nth-child(9){
    transform:rotateY(320deg) translateZ(300px);
  }
  
  .shadow{
    position: absolute;
    box-shadow: 0px 0px 0px #000;
   
  }
  .slider-content img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  .slider-content img:hover{
    transform: scale(1.2);
    transition: all 300ms;
   
  }
  
  @keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
  }
  
  /***********footer*********/
 
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{
	background: cadetblue;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #975e41;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #975e41;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #975e41;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.text{
  color: cadetblue;
  padding-left: 173px;
  font-family: cursive;
}
