@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

.team-section {
    overflow: hidden;
    text-align: center;
    background: url(https://images.squarespace-cdn.com/content/v1/5676eb951c1210f594d9ac17/1451419943166-N4RHE6UULSQI4MMPPK50/ke17ZwdGBToddI8pDm48kM7eYaoy66Bfw4SsQbVf_FF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fLJZAiCqHZlpHIREvv0K4ZQLvo39Gt9kBQH7Ew4pKmW3g/Black_background.jpg?format=2500w);
    /* background-color: #2a170d; */
    background-position: cover;
    padding-top: 30px;
}

h1 {
    position: relative;
    display: inline;
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    padding-bottom: 10px;
    opacity: 0.7;
}

#meet {
    color: cadetblue;
    font-family: 'Orelega One', cursive;
}

.border {
    display: block;
    margin: auto;
    width: 300px;
    height: 3px;
    background: cadetblue;
    margin-bottom: 40px;
}

.team {
    margin-bottom: 40px;
}

.team a {
    display: inline-block;
    margin: 0 30px;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
}

.team a img {
    width: 100%;
    /* filter: grayscale(100%);  */
    transition: 0.4s all;
}

.team a:hover>img {
    /* filter: none; */
    width: 100px;
}

.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target {
    height: auto;
}

.name {
    display: block;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

p {
    text-align: center;
    padding-bottom: 30px;
}

.contanir {
    /* background-color: #dadada; */
    /* background-image: url(); */
    overflow: hidden;
    text-align: center;
    /* background-color: #2a170d; */
    background-position: bottom;
    background-size: cover;
    color: #fff !important;
    /* box-shadow: 10px 10px 10px 10px black; */
}

.contanir p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.service {
    margin: 90px auto;
    text-align: center;
}

h2 {
    border-bottom: 3px solid #914343;
    position: absolute;
    top: 81px;
    left: 628px;
    font-family: 'Orelega One', cursive;
    font-size: 45px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    line-height: 30px;
    padding-top: 25px;
}

h2:after {
    content:'';
    /* background: #c46854; */
    display: block;
    width: 270px;
    height: 3px;
    margin: auto;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 15px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 40%;
}

.row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(/images/aqaba.jpg);
    /* background-blend-mode: overlay; */
    background-size: cover;
    /* background-position:center  ; */
    color: #fff !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* margin-left: 125px; */
    padding: 50px 50px 10px 10px;
    /* box-shadow: 3px 3px 9px 5px rgb(0, 0, 0); */
}

.OurServices {
    text-align: center;
    /* margin-left: 40px;
margin-right: 50px;
margin-bottom: 90px; */
    margin: 60px;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    border: 0.1px solid grey;
    border-radius: 10%;
    text-decoration: justify;
}

h3 {
    font-size: 25px;
}

.OurServices:hover {
    box-shadow: 1px 3px 10px 5px rgb(255, 255, 255);
    cursor: pointer;
    /* background-color: rgb(100, 96, 96); */
    /* opacity: .7; */
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 20px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: rgb(59, 57, 57);
    padding: 4px;
    border-radius: 20px;
}

#myBtn:active {
    background-color: #b11b1b;
}

html {
    scroll-behavior: smooth;
}

.imagegit:active {
    box-shadow: 0px 1px 2px 3px #b11b1b;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
.footer-distributed {
    background: cadetblue;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #FFFFFF;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #975E41;
}

.footer-distributed .footer-links {
    margin-right: 246px!important;
    color: #FFFFFF;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    margin-right: 420px!important;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383B;
    color: #FFFFFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    margin-right: 57px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #975E41;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #975E41;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383B;
    border-radius: 2px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


/* 0000 */

.container header {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 0px; */
    height: 100px;
}

.container header .logo {
    font-weight: bolder;
    text-transform: uppercase;
    color: cadetblue;
    font-size: 1.5em;
    text-decoration: none;
    /* margin-bottom: 20px; */
    margin-right: 20px;
}

.container header ul {
    position: relative;
    display: flex;
    margin-bottom: 80px;
    margin-left: 20px;
    position: absolute;
    right: 20px;
}

.container header ul li {
    list-style: none;
    margin-right: 50px;
}

.container header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 24px;
    padding: 4px 10px;
    color: white;
}

.logoimg{
    margin-left: 66px;
    height: 157px;
    width: 187px;
    margin-bottom: 54px;
}